USE [DoAnDatBan]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateReservationAndAssignTable]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP PROCEDURE [dbo].[sp_CreateReservationAndAssignTable]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [CK_Reservations_Status]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [CK_Reservations_Guests]
GO
ALTER TABLE [dbo].[ReservationTables] DROP CONSTRAINT [FK_ReservationTables_Reservations]
GO
ALTER TABLE [dbo].[ReservationTables] DROP CONSTRAINT [FK_ReservationTables_DiningTables]
GO
ALTER TABLE [dbo].[ReservationTables] DROP CONSTRAINT [FK_ReservationTables_AdminUsers]
GO
ALTER TABLE [dbo].[ReservationStatusHistory] DROP CONSTRAINT [FK_ReservationStatusHistory_Reservations]
GO
ALTER TABLE [dbo].[ReservationStatusHistory] DROP CONSTRAINT [FK_ReservationStatusHistory_AdminUsers]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [FK_Reservations_TimeSlots]
GO
ALTER TABLE [dbo].[DiningTables] DROP CONSTRAINT [FK_DiningTables_Areas]
GO
ALTER TABLE [dbo].[TimeSlots] DROP CONSTRAINT [DF_TimeSlots_CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] DROP CONSTRAINT [DF_TimeSlots_SortOrder]
GO
ALTER TABLE [dbo].[TimeSlots] DROP CONSTRAINT [DF_TimeSlots_IsActive]
GO
ALTER TABLE [dbo].[SystemSettings] DROP CONSTRAINT [DF_SystemSettings_UpdatedAt]
GO
ALTER TABLE [dbo].[ReservationTables] DROP CONSTRAINT [DF_ReservationTables_AssignedAt]
GO
ALTER TABLE [dbo].[ReservationStatusHistory] DROP CONSTRAINT [DF_ReservationStatusHistory_ChangedAt]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [DF_Reservations_UpdatedAt]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [DF_Reservations_CreatedAt]
GO
ALTER TABLE [dbo].[Reservations] DROP CONSTRAINT [DF_Reservations_Status]
GO
ALTER TABLE [dbo].[DiningTables] DROP CONSTRAINT [DF_DiningTables_CreatedAt]
GO
ALTER TABLE [dbo].[DiningTables] DROP CONSTRAINT [DF_DiningTables_IsActive]
GO
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [DF_Areas_IsActive]
GO
ALTER TABLE [dbo].[Areas] DROP CONSTRAINT [DF_Areas_Priority]
GO
ALTER TABLE [dbo].[AppLogs] DROP CONSTRAINT [DF_AppLogs_CreatedAt]
GO
ALTER TABLE [dbo].[AdminUsers] DROP CONSTRAINT [DF_AdminUsers_UpdatedAt]
GO
ALTER TABLE [dbo].[AdminUsers] DROP CONSTRAINT [DF_AdminUsers_CreatedAt]
GO
ALTER TABLE [dbo].[AdminUsers] DROP CONSTRAINT [DF_AdminUsers_IsActive]
GO
ALTER TABLE [dbo].[AdminUsers] DROP CONSTRAINT [DF_AdminUsers_Role]
GO
/****** Object:  Index [IX_TimeSlots_IsActive_SortOrder]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_TimeSlots_IsActive_SortOrder] ON [dbo].[TimeSlots]
GO
/****** Object:  Index [IX_ReservationTables_TableId]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_ReservationTables_TableId] ON [dbo].[ReservationTables]
GO
/****** Object:  Index [IX_ReservationStatusHistory_ReservationId]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_ReservationStatusHistory_ReservationId] ON [dbo].[ReservationStatusHistory]
GO
/****** Object:  Index [UX_Reservations_NoDuplicateActive]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [UX_Reservations_NoDuplicateActive] ON [dbo].[Reservations]
GO
/****** Object:  Index [IX_Reservations_Slot_Date]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_Reservations_Slot_Date] ON [dbo].[Reservations]
GO
/****** Object:  Index [IX_Reservations_Phone]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_Reservations_Phone] ON [dbo].[Reservations]
GO
/****** Object:  Index [IX_Reservations_Date_Status]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_Reservations_Date_Status] ON [dbo].[Reservations]
GO
/****** Object:  Index [UX_DiningTables_TableCode]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [UX_DiningTables_TableCode] ON [dbo].[DiningTables]
GO
/****** Object:  Index [IX_DiningTables_IsActive_Capacity]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_DiningTables_IsActive_Capacity] ON [dbo].[DiningTables]
GO
/****** Object:  Index [IX_DiningTables_AreaId]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_DiningTables_AreaId] ON [dbo].[DiningTables]
GO
/****** Object:  Index [IX_AppLogs_Level_CreatedAt]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [IX_AppLogs_Level_CreatedAt] ON [dbo].[AppLogs]
GO
/****** Object:  Index [UX_AdminUsers_Username]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP INDEX [UX_AdminUsers_Username] ON [dbo].[AdminUsers]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[TimeSlots]') AND type in (N'U'))
DROP TABLE [dbo].[TimeSlots]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[SystemSettings]') AND type in (N'U'))
DROP TABLE [dbo].[SystemSettings]
GO
/****** Object:  Table [dbo].[ReservationTables]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReservationTables]') AND type in (N'U'))
DROP TABLE [dbo].[ReservationTables]
GO
/****** Object:  Table [dbo].[ReservationStatusHistory]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[ReservationStatusHistory]') AND type in (N'U'))
DROP TABLE [dbo].[ReservationStatusHistory]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Reservations]') AND type in (N'U'))
DROP TABLE [dbo].[Reservations]
GO
/****** Object:  Table [dbo].[DiningTables]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[DiningTables]') AND type in (N'U'))
DROP TABLE [dbo].[DiningTables]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Areas]') AND type in (N'U'))
DROP TABLE [dbo].[Areas]
GO
/****** Object:  Table [dbo].[AppLogs]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AppLogs]') AND type in (N'U'))
DROP TABLE [dbo].[AppLogs]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 03/01/2026 2:29:23 SA ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[AdminUsers]') AND type in (N'U'))
DROP TABLE [dbo].[AdminUsers]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP USER [IIS APPPOOL\DefaultAppPool]
GO
USE [master]
GO
/****** Object:  Database [DoAnDatBan]    Script Date: 03/01/2026 2:29:23 SA ******/
DROP DATABASE [DoAnDatBan]
GO
/****** Object:  Database [DoAnDatBan]    Script Date: 03/01/2026 2:29:23 SA ******/
CREATE DATABASE [DoAnDatBan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DoAnDatBan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoAnDatBan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DoAnDatBan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\DoAnDatBan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DoAnDatBan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DoAnDatBan]
GO
/****** Object:  User [IIS APPPOOL\DefaultAppPool]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE USER [IIS APPPOOL\DefaultAppPool] FOR LOGIN [IIS APPPOOL\DefaultAppPool] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[AdminUsers]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminUsers](
	[AdminId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[PasswordSalt] [nvarchar](100) NULL,
	[DisplayName] [nvarchar](100) NULL,
	[Role] [nvarchar](20) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[LastLoginAt] [datetime2](0) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AdminId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppLogs]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppLogs](
	[LogId] [bigint] IDENTITY(1,1) NOT NULL,
	[LogLevel] [nvarchar](10) NOT NULL,
	[Message] [nvarchar](1000) NOT NULL,
	[Detail] [nvarchar](4000) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Areas]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Areas](
	[AreaId] [int] IDENTITY(1,1) NOT NULL,
	[AreaName] [nvarchar](50) NOT NULL,
	[Priority] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiningTables]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiningTables](
	[TableId] [int] IDENTITY(1,1) NOT NULL,
	[TableCode] [nvarchar](20) NOT NULL,
	[TableName] [nvarchar](50) NULL,
	[Capacity] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[AreaId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationId] [bigint] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](254) NULL,
	[Phone] [nvarchar](20) NOT NULL,
	[Guests] [int] NOT NULL,
	[ReservationDate] [date] NOT NULL,
	[SlotId] [int] NOT NULL,
	[Note] [nvarchar](500) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CancelReason] [nvarchar](300) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
	[ConfirmedAt] [datetime2](0) NULL,
	[CancelledAt] [datetime2](0) NULL,
	[CompletedAt] [datetime2](0) NULL,
	[SourceIP] [nvarchar](45) NULL,
	[UserAgent] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationStatusHistory]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationStatusHistory](
	[HistoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ReservationId] [bigint] NOT NULL,
	[OldStatus] [nvarchar](20) NOT NULL,
	[NewStatus] [nvarchar](20) NOT NULL,
	[Note] [nvarchar](300) NULL,
	[ChangedByAdminId] [int] NULL,
	[ChangedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[HistoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReservationTables]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReservationTables](
	[ReservationId] [bigint] NOT NULL,
	[TableId] [int] NOT NULL,
	[AssignedAt] [datetime2](0) NOT NULL,
	[AssignedByAdminId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationId] ASC,
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemSettings]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemSettings](
	[Key] [nvarchar](100) NOT NULL,
	[Value] [nvarchar](4000) NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Key] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlots]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlots](
	[SlotId] [int] IDENTITY(1,1) NOT NULL,
	[SlotName] [nvarchar](50) NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SlotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_AdminUsers_Username]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_AdminUsers_Username] ON [dbo].[AdminUsers]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AppLogs_Level_CreatedAt]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_AppLogs_Level_CreatedAt] ON [dbo].[AppLogs]
(
	[LogLevel] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiningTables_AreaId]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_DiningTables_AreaId] ON [dbo].[DiningTables]
(
	[AreaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DiningTables_IsActive_Capacity]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_DiningTables_IsActive_Capacity] ON [dbo].[DiningTables]
(
	[IsActive] ASC,
	[Capacity] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_DiningTables_TableCode]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_DiningTables_TableCode] ON [dbo].[DiningTables]
(
	[TableCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservations_Date_Status]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_Date_Status] ON [dbo].[Reservations]
(
	[ReservationDate] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Reservations_Phone]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_Phone] ON [dbo].[Reservations]
(
	[Phone] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reservations_Slot_Date]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_Reservations_Slot_Date] ON [dbo].[Reservations]
(
	[SlotId] ASC,
	[ReservationDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_Reservations_NoDuplicateActive]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Reservations_NoDuplicateActive] ON [dbo].[Reservations]
(
	[Phone] ASC,
	[ReservationDate] ASC,
	[SlotId] ASC
)
WHERE ([Status] IN (N'Pending', N'Confirmed'))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservationStatusHistory_ReservationId]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_ReservationStatusHistory_ReservationId] ON [dbo].[ReservationStatusHistory]
(
	[ReservationId] ASC,
	[ChangedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReservationTables_TableId]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_ReservationTables_TableId] ON [dbo].[ReservationTables]
(
	[TableId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSlots_IsActive_SortOrder]    Script Date: 03/01/2026 2:29:24 SA ******/
CREATE NONCLUSTERED INDEX [IX_TimeSlots_IsActive_SortOrder] ON [dbo].[TimeSlots]
(
	[IsActive] ASC,
	[SortOrder] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  CONSTRAINT [DF_AdminUsers_Role]  DEFAULT (N'Admin') FOR [Role]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  CONSTRAINT [DF_AdminUsers_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  CONSTRAINT [DF_AdminUsers_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AdminUsers] ADD  CONSTRAINT [DF_AdminUsers_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AppLogs] ADD  CONSTRAINT [DF_AppLogs_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Areas] ADD  CONSTRAINT [DF_Areas_Priority]  DEFAULT ((1)) FOR [Priority]
GO
ALTER TABLE [dbo].[Areas] ADD  CONSTRAINT [DF_Areas_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DiningTables] ADD  CONSTRAINT [DF_DiningTables_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[DiningTables] ADD  CONSTRAINT [DF_DiningTables_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF_Reservations_Status]  DEFAULT (N'Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF_Reservations_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF_Reservations_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ReservationStatusHistory] ADD  CONSTRAINT [DF_ReservationStatusHistory_ChangedAt]  DEFAULT (sysdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [dbo].[ReservationTables] ADD  CONSTRAINT [DF_ReservationTables_AssignedAt]  DEFAULT (sysdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[SystemSettings] ADD  CONSTRAINT [DF_SystemSettings_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  CONSTRAINT [DF_TimeSlots_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  CONSTRAINT [DF_TimeSlots_SortOrder]  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[TimeSlots] ADD  CONSTRAINT [DF_TimeSlots_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DiningTables]  WITH CHECK ADD  CONSTRAINT [FK_DiningTables_Areas] FOREIGN KEY([AreaId])
REFERENCES [dbo].[Areas] ([AreaId])
GO
ALTER TABLE [dbo].[DiningTables] CHECK CONSTRAINT [FK_DiningTables_Areas]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_TimeSlots] FOREIGN KEY([SlotId])
REFERENCES [dbo].[TimeSlots] ([SlotId])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_TimeSlots]
GO
ALTER TABLE [dbo].[ReservationStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_ReservationStatusHistory_AdminUsers] FOREIGN KEY([ChangedByAdminId])
REFERENCES [dbo].[AdminUsers] ([AdminId])
GO
ALTER TABLE [dbo].[ReservationStatusHistory] CHECK CONSTRAINT [FK_ReservationStatusHistory_AdminUsers]
GO
ALTER TABLE [dbo].[ReservationStatusHistory]  WITH CHECK ADD  CONSTRAINT [FK_ReservationStatusHistory_Reservations] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservations] ([ReservationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationStatusHistory] CHECK CONSTRAINT [FK_ReservationStatusHistory_Reservations]
GO
ALTER TABLE [dbo].[ReservationTables]  WITH CHECK ADD  CONSTRAINT [FK_ReservationTables_AdminUsers] FOREIGN KEY([AssignedByAdminId])
REFERENCES [dbo].[AdminUsers] ([AdminId])
GO
ALTER TABLE [dbo].[ReservationTables] CHECK CONSTRAINT [FK_ReservationTables_AdminUsers]
GO
ALTER TABLE [dbo].[ReservationTables]  WITH CHECK ADD  CONSTRAINT [FK_ReservationTables_DiningTables] FOREIGN KEY([TableId])
REFERENCES [dbo].[DiningTables] ([TableId])
GO
ALTER TABLE [dbo].[ReservationTables] CHECK CONSTRAINT [FK_ReservationTables_DiningTables]
GO
ALTER TABLE [dbo].[ReservationTables]  WITH CHECK ADD  CONSTRAINT [FK_ReservationTables_Reservations] FOREIGN KEY([ReservationId])
REFERENCES [dbo].[Reservations] ([ReservationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ReservationTables] CHECK CONSTRAINT [FK_ReservationTables_Reservations]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Reservations_Guests] CHECK  (([Guests]>=(1) AND [Guests]<=(50)))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Reservations_Guests]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Reservations_Status] CHECK  (([Status]=N'Completed' OR [Status]=N'Cancelled' OR [Status]=N'Confirmed' OR [Status]=N'Pending'))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Reservations_Status]
GO
/****** Object:  StoredProcedure [dbo].[sp_CreateReservationAndAssignTable]    Script Date: 03/01/2026 2:29:24 SA ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_CreateReservationAndAssignTable]
  @FullName NVARCHAR(100),
  @Phone NVARCHAR(20),
  @Email NVARCHAR(254) = NULL,
  @Guests INT,
  @ReservationDate DATE,
  @SlotId INT,
  @Note NVARCHAR(500) = NULL,
  @SourceIP NVARCHAR(45) = NULL,
  @UserAgent NVARCHAR(300) = NULL
AS
BEGIN
  SET NOCOUNT ON;
  SET XACT_ABORT ON;

  DECLARE
    @ReservationId BIGINT = NULL,
    @TableId INT = NULL,
    @AreaName NVARCHAR(50) = NULL,
    @TableName NVARCHAR(50) = NULL,
    @Capacity INT = NULL;

  BEGIN TRY
    -- khách đông hơn mọi bàn active
    IF @Guests > (SELECT ISNULL(MAX(Capacity),0) FROM dbo.DiningTables WHERE IsActive=1)
    BEGIN
      SELECT 2 AS ResultCode, NULL AS ReservationId, NULL AS TableId, NULL AS AreaName, NULL AS TableName, NULL AS Capacity;
      RETURN;
    END

    SET TRANSACTION ISOLATION LEVEL SERIALIZABLE;
    BEGIN TRAN;

    -- Rule 1: capacity nhỏ nhất nhưng đủ
    SELECT TOP (1)
      @TableId   = t.TableId,
      @Capacity  = t.Capacity,
      @TableName = t.TableName,
      @AreaName  = a.AreaName
    FROM dbo.DiningTables t WITH (UPDLOCK, HOLDLOCK)
    JOIN dbo.Areas a ON a.AreaId = t.AreaId
    WHERE t.IsActive = 1
      AND a.IsActive = 1
      AND t.Capacity >= @Guests
      AND NOT EXISTS (
        SELECT 1
        FROM dbo.ReservationTables rt WITH (UPDLOCK, HOLDLOCK)
        JOIN dbo.Reservations r WITH (UPDLOCK, HOLDLOCK)
          ON r.ReservationId = rt.ReservationId
        WHERE rt.TableId = t.TableId
          AND CAST(r.ReservationDate AS date) = @ReservationDate
          AND r.SlotId = @SlotId
          AND r.Status IN (N'Pending', N'Confirmed')
      )
    ORDER BY
      t.Capacity ASC,
      a.Priority ASC,
      t.TableId ASC;

    IF @TableId IS NULL
    BEGIN
      ROLLBACK;
      SELECT 1 AS ResultCode, NULL AS ReservationId, NULL AS TableId, NULL AS AreaName, NULL AS TableName, NULL AS Capacity;
      RETURN;
    END

    INSERT dbo.Reservations
      (FullName, Email, Phone, Guests, ReservationDate, SlotId, Note, Status, SourceIP, UserAgent)
    VALUES
      (@FullName, @Email, @Phone, @Guests, @ReservationDate, @SlotId, @Note, N'Pending', @SourceIP, @UserAgent);

    SET @ReservationId = CAST(SCOPE_IDENTITY() AS BIGINT);

    INSERT dbo.ReservationTables(ReservationId, TableId)
    VALUES(@ReservationId, @TableId);

    COMMIT;

    SELECT 0 AS ResultCode, @ReservationId AS ReservationId, @TableId AS TableId, @AreaName AS AreaName, @TableName AS TableName, @Capacity AS Capacity;
  END TRY
  BEGIN CATCH
    IF @@TRANCOUNT > 0 ROLLBACK;
    SELECT 9 AS ResultCode, NULL AS ReservationId, NULL AS TableId, NULL AS AreaName, NULL AS TableName, NULL AS Capacity;
  END CATCH
END
GO
USE [master]
GO
